.section-title {
   margin: 150px 0 150px 0;
   h1 {
      font-size: 3rem;
      margin-top: 15px;
   }
   p {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 1.12rem;
      letter-spacing: 7px;
      opacity: 0.5;
   }
}
